table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: #0073CF;
  color: #B3995D;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #9A3B26;
}

tr:nth-child(even):hover {
  background-color: #B3995D;
}


h1 {

  text-align: center;
  margin: 0px;
}

h2 {

  text-align: center;
}


.topBanner {
  background: linear-gradient(to right, #FFFFFF, #0073CF ) ;

}

.headlineTop {
  background: linear-gradient(to right, #FFFFFF, #0073CF ) ;

}

.myHeader {
  background: linear-gradient(to right, #0073CF, #FFFFFF) !important;
}


@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }
}